/* 
    Document   : default
    Created on : 08/04/2011, 10:25:42
    Author     : ldeseta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body { 
    font-family: Verdana, Arial, Helvetica;
    margin: 0px;
}

h1, h2, h3, h4 { 
    color: slategrey; 
}

h2, h3, h4 { 
    margin-top: 50px;
    border-style: none none solid none; 
    border-width: 1px; 
    border-color: silver; 
}

div.header {
    background-color: yellowgreen;
    font-size: 0.7em;
    padding: 1em 3em 1em 3em;
    margin: 0px 0px 30px 0px;
}

div.header a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


div.alumno {
    width:90%;
    margin:20px;
    border:1px solid gray;
    border-radius: 6px;
    box-shadow: 2px 2px 10px gray;
    line-height:150%;
    padding:0.5em;
}

div.alumno div.header {
    background-color: yellowgreen;
    border-radius: 6px;
    font-size: 0.7em;
    padding: 1em 3em 1em 3em;
    margin: 0px 0px 10px 0px;
    color: white;
}

div.alumno div.header h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
}

div.alumno div.content {
    padding: 0px 30px;
}

div.alumno div.content h2 {
    margin-top: 0px;
}

div.alumno div.footer {
    background-color: yellowgreen;
    border-radius: 6px;
    text-transform: capitalize;
    padding: 8px 30px;
}

div.wrapper {
    margin: 0px 20px;
}

div.alta {
    width:90%;
    margin:20px;
    border:1px solid gray;
    border-radius: 6px;
    box-shadow: 2px 2px 10px gray;
    line-height:150%;
    padding:0.5em;

}

div.header_alta {
    background-color: yellowgreen;
    font-size: 0.7em;
    padding: 1em 3em 1em 3em;
    margin: 0px 0px 30px 0px;
    border-radius: 6px;
}

div.alta div.header_alta h1 {
    color: white;
    text-transform: capitalize;

}

label {
    margin-left: 10em;
}
